<html>
<head>
<center><h1>USER PLAY</h1></center>
</head>
<body>
<p>
<center>
<br><br>
<p>
<input type='text' name='cell0'>|<input type='text' name='cell1'>|<input type='text' name='cell2'><br>
--------------------------------------------------------------------------------------------------<br>
<input type='text' name='cell3'>|<input type='text' name='cell4'>|<input type='text' name='cell5'><br>
--------------------------------------------------------------------------------------------------<br>
<input type='text' name='cell6'>|<input type='text' name='cell7'>|<input type='text' name='cell8'><br>
</p>
<br>
<br>
<form method='post' action='/result'>
<input type='submit' value='submit'>
</form>
</body>
</html>